<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezviz.demo1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Main3Activity"></activity>
        <activity
            android:name=".ezvizauth.AuthEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezviz.client.TestAuthRequestActivity"
            android:label="授权demo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ezviz.server.FakeAuthHandleActivity"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--                <data-->
<!--                    android:scheme="videogo"-->
<!--                    android:host="ys7.com"/>-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>